.ratingContainer {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.averageRatingText {
  color: var(--side-color);
  margin-right: 0.4rem;
}
