.mainContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imageCol {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.imageContainer {
  width: 20rem;
  margin-left: 2rem;
  height: 40rem;
  border-radius: 0.625rem 0 0 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  background-color: var(--accent-color);
}

.image {
  width: 20rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 0.625rem 0 0 0.625rem;
}

.contentCol {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contentContainer {
  padding: 1.25rem;
  height: 40rem;
  margin-right: 2rem;
  background-color: var(--accent-color);
  border-radius: 0 0.625rem 0.625rem 0;
  color: var(--side-color);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.recipeTitle {
  color: var(--side-color);
  margin-bottom: 1.25rem;
}

.recipeBody {
  color: var(--side-color);
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
}

.buttonContainer {
  display: flex;
  gap: 0.625rem;
}

.customRow {
  width: 70rem;
}

@media (min-width: 992px) {
  .customRow {
    flex-direction: row;
  }

  .imageCol {
    justify-content: flex-start;
  }

  .imageContainer {
    margin-left: 2rem;
    margin-bottom: 0;
    max-width: 60rem;
    height: 100%;
    border-radius: 0.625rem 0 0 0.625rem;
  }

  .contentCol {
    flex-direction: column;
    margin-top: 0;
  }

  .contentContainer {
    border-radius: 0 0.625rem 0.625rem 0;
    width: 95%;
  }

  .buttonContainer {
    justify-content: flex-start;
  }
}

@media (max-width: 992px) {
  .customRow {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
  }

  .contentContainer {
    border-radius: 0.625rem;
    text-align: center;
    width: 100%;
    margin-left: 2rem;
  }

  .buttonContainer {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    padding: 1rem;
  }

  .recipeTitle {
    font-size: 1.5rem;
  }

  .recipeBody {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .buttonContainer {
    justify-content: center;
    flex-direction: column; /* Stack buttons vertically on small screens */
  }
}
