body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 0.1rem solid #ccc;
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
}

.loginNameContainer,
.loginEmailContainer,
.loginPasswordContainer {
  width: 30rem;
}

.loginNameInput,
.loginEmailnput,
.loginPasswordInput {
  height: 3rem;
  border: 0.15rem solid var(--main-green);
  border-radius: 0.5rem;
}

.loginNameInput:focus,
.loginEmailnput:focus,
.loginPasswordInput:focus {
  border: 0.15rem solid var(--accent-color);
  box-shadow: 0 0 0 0.25 rem var(--accent-color);
}

.loginLabel {
  color: var(--main-green);
}

.loginNameContainer:focus-within .loginLabel,
.loginEmailContainer:focus-within .loginLabel,
.loginPasswordContainer:focus-within .loginLabel {
  color: var(--accent-color);
}

.loginNameError,
.loginEmailError,
.loginPasswordError {
  height: 3rem;
  border: 0.15rem solid red;
  border-radius: 0.5rem;
}

.loginNameError:focus,
.loginEmailError:focus,
.loginPasswordError:focus {
  box-shadow: none;
  border: 0.15rem solid red;
}

.signupLink {
  color: var(--main-green);
}

.signupLink:hover {
  color: var(--accent-color);
}

.loginLabelError {
  color: red;
}

.fromSubmitButton {
  background-color: var(--main-green);
  border: none;
}

.fromSubmitButton:hover {
  background-color: var(--accent-color);
  border: none;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  .loginFormContainer {
    padding: 2rem;
    border-radius: 2rem;
  }

  .loginNameInput,
  .loginEmailnput,
  .loginPasswordInput {
    height: 2.5rem;
  }
}

@media (max-width: 480px) {
  .loginFormContainer {
    padding: 2rem;
    border-radius: 1rem;
    width: 25rem;
  }

  .loginNameInput,
  .loginEmailnput,
  .loginPasswordInput {
    height: 3rem;
  }

  .loginNameContainer,
  .loginEmailContainer,
  .loginPasswordContainer {
    width: 100%;
  }
}
